/*
 * Copyright 2013 Christophe-Marie Duquesne <chmd@chmd.fr>
 *
 * CSS for making a resume with pandoc. Inspired by moderncv.
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */

/* Whole document */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 800px;
  margin: auto;
  background: ghostwhite;
  padding: 10px 10px 10px 10px;
}

/* Title of the resume */
h1 {
  /* This is called "titlecolor" in the ConTeXt stylesheet. */
  color: #05445e;
  font-size: 55px;
  text-align: center;
  margin-bottom: 15px;
}

/* Titles of categories */
h2 {
  /* This is called "sectioncolor" in the ConTeXt stylesheet. */
  color: #189ab4;
}
/* There is a bar just before each category */
h2:before {
  content: "";
  display: inline-block;
  margin-right: 1%;
  width: 16%;
  height: 10px;
  /* This is called "rulecolor" in the ConTeXt stylesheet. */
  background-color: #d4f1f4;
}

/* Definitions */
dt {
  float: left;
  clear: left;
  width: 17%;
  /*font-weight: bold;*/
}
dd {
  margin-left: 17%;
}
p {
  margin-top: 0;
  margin-bottom: 7px;
}

/* Blockquotes */
blockquote {
  text-align: center;
}

/* Links */
a {
  text-decoration: none;
  color: #05445e;
}
a:hover,
a:active {
  text-decoration: underline;
}
